<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<string>Standard</string>
	<key>Foreground</key>
	<dict>
		<key>-</key>
		<array>
			<string>0</string>
			<string>0</string>
			<string>0</string>
		</array>
		<key>*</key>
		<array>
			<string>0.8</string>
			<string>0.8</string>
			<string>0.8</string>
		</array>
		<key>?</key>
		<array>
			<string>0.5</string>
			<string>0.5</string>
			<string>0.5</string>
		</array>
		<key>A</key>
		<array>
			<string>0.8</string>
			<string>1</string>
			<string>0</string>
		</array>
		<key>R</key>
		<array>
			<string>0</string>
			<string>0</string>
			<string>1</string>
		</array>
		<key>N</key>
		<array>
			<string>0.8</string>
			<string>0</string>
			<string>1</string>
		</array>
		<key>D</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>0</string>
		</array>
		<key>C</key>
		<array>
			<string>1</string>
			<string>1</string>
			<string>0</string>
		</array>
		<key>Q</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>0.8</string>
		</array>
		<key>E</key>
		<array>
			<string>1</string>
			<string>0</string>
			<string>0.4</string>
		</array>
		<key>G</key>
		<array>
			<string>1</string>
			<string>0.6</string>
			<string>0</string>
		</array>
		<key>H</key>
		<array>
			<string>0</string>
			<string>0.4</string>
			<string>1</string>
		</array>
		<key>I</key>
		<array>
			<string>0.4</string>
			<string>1</string>
			<string>0</string>
		</array>
		<key>L</key>
		<array>
			<string>0.2</string>
			<string>1</string>
			<string>0</string>
		</array>
		<key>K</key>
		<array>
			<string>0.4</string>
			<string>0</string>
			<string>1</string>
		</array>
		<key>M</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>0</string>
		</array>
		<key>F</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>0.4</string>
		</array>
		<key>P</key>
		<array>
			<string>1</string>
			<string>0.8</string>
			<string>0</string>
		</array>
		<key>S</key>
		<array>
			<string>1</string>
			<string>0.2</string>
			<string>0</string>
		</array>
		<key>T</key>
		<array>
			<string>1</string>
			<string>0.4</string>
			<string>0</string>
		</array>
		<key>W</key>
		<array>
			<string>0</string>
			<string>0.8</string>
			<string>1</string>
		</array>
		<key>Y</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>0.8</string>
		</array>
		<key>V</key>
		<array>
			<string>0.6</string>
			<string>1</string>
			<string>0</string>
		</array>
	</dict>
</dict>
</plist>
