<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<dict>
		<key>-</key>
		<array>
			<real>1</real>
			<real>1</real>
			<real>1</real>
			<real>1</real>
		</array>
		<key>?</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
			<real>0.5</real>
			<real>1</real>
		</array>
		<key>A</key>
		<array>
			<real>0.9098039865493774</real>
			<real>0.4274510145187378</real>
			<real>0.5098039507865906</real>
			<real>1</real>
		</array>
		<key>C</key>
		<array>
			<real>0.4980392456054688</real>
			<real>0.501960813999176</real>
			<real>0.9137255549430847</real>
			<real>1</real>
		</array>
		<key>G</key>
		<array>
			<real>0.9411765336990356</real>
			<real>0.9568628072738647</real>
			<real>0.02745098248124123</real>
			<real>1</real>
		</array>
		<key>T</key>
		<array>
			<real>0.207843154668808</real>
			<real>0.9725490808486938</real>
			<real>0.01960784383118153</real>
			<real>1</real>
		</array>
		<key>U</key>
		<array>
			<real>0.207843154668808</real>
			<real>0.9725490808486938</real>
			<real>0.01960784383118153</real>
			<real>1</real>
		</array>
	</dict>
	<key>Description</key>
	<string>Geneious</string>
	<key>Foreground</key>
	<dict>
		<key>-</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>1</real>
		</array>
		<key>?</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>1</real>
		</array>
		<key>A</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>1</real>
		</array>
		<key>C</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>1</real>
		</array>
		<key>G</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>1</real>
		</array>
		<key>T</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>1</real>
		</array>
		<key>U</key>
		<array>
			<real>0</real>
			<real>0</real>
			<real>0</real>
			<real>1</real>
		</array>
	</dict>
</dict>
</plist>
